@import url('https://fonts.googleapis.com/css2?family=Anton&family=Orelega+One&family=Oswald:wght@500&family=Quicksand:wght@300&family=Roboto&display=swap');

body {
    background-color: #9999FF;
}

.header {
    background-color: #6B7DB3;
    display: flex;
    font-family: "Orelega One", sans-serif
}

.logo--image {
    height: 50px;
    width: 50px;
    margin: 20px;
    order: 0;
}

.featherweather--lettering {
    margin-top: 25px;
    order: 1;
}

.header--buttons {
    order: 2;
    margin-left: auto;
    display: flex;
}

.logo--box {
    padding-top: 17px;
    padding-bottom:-3px;
}

.portal {
    margin: 30px 10px;
    border: 1px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.blog--portal {
    background-color: rgb(255, 194, 81);
}

.blog--portal :hover {
    background-color:rgb(216, 164, 67);
    border-radius: 5px;
    padding-top: 1px;
    margin-top: 1px;
}

.github--portal {
    background-color: gray;
}

.github--portal :hover {
    background-color: rgb(107, 107, 107);
    border-radius: 5px;
    padding-top: 1px;
}

.darkmode {
    height:32px;
    width:30px;
    padding:0;
    background-color:#7A4EAE;
}

.darkmode :hover {
    background-color: #9760d7;
    border-radius: 5px;
    height: 32px;
}

.lightmode {
    height: 32px;
    width:30px;
    padding: 0;
    background-color: yellow;
}

.lightmode :hover {
    background-color: rgb(198, 198, 0);
    height: 32px;
    border-radius: 5px;
}

.dark--header{
    background-color: #183060;
    display: flex;
    font-family: "Orelega One", sans-serif;
    color: white;
}

#carouselExampleIndicators {
    height: 60%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.try--button {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.try--now--button {
    width:100%;
}

.weather--content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.placesAutocomplete {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.city {
    width: 73%;
    order: 0;
}

.submit--button {
    order: 1;
}

.nothing {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: -1;
}

.card--main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
    height: 300px;
}

.dark--weather {
    color: white;
    background-color: rgb(97, 97, 97);
}

.weather--box {
    overflow-x: scroll;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.sidescroll--box {
    text-align: center;
}
.main--weather {
    text-align: center;
}

.daily--weather {
    margin-left: auto;
    margin-right: auto;
}

.daily--weather--formatting {
    display: flex;
    flex-direction: row;
}

.daily--day {
    order: 1;
    margin-right: auto;
    font-size: 30px;
    padding: 10px;
}

.temperature--daily {
    order: 2;
}

.weather--image {
    order: 3;
    width: 60px;
}

.forecast--complete {
    width: 100%;
}